*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    font-family: Arial, Helvetica, sans-serif, sans-serif;
    background-color: rgb(3, 3, 48);
    
}

.color-red {
    --clr-inner: red;
    --clr-outer: orange;
    --clr-accent: limegreen;
    }
    
    .color-white {
        --clr-inner: #fce4b3;
        --clr-outer: #eac886;
        --clr-accent: #2f4858;
        }
    
        .color-blue {
            --clr-inner: #6dd5ed;
            --clr-outer: #2193b0;
            --clr-accent: #008951;
            }

img {
    max-width: 100%;
    height: 200px;
    
}


.btn {
    text-decoration: none;
    background: rgb(79, 79, 199);
    color: white;
    padding: 1em 1.25em;
    display: inline-block;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 1rem;
    transition: transform 250ms ease-in-out;
                
}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
    background-color: rgb(4, 4, 44);
}




/* Hero Section*/
.hero {
    text-align: center;
    background-color: #444;
    background-image: url("./images/shoe9.jpg");
    background-position: center;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    width: 100%;
    height: 100vh;
}

.hero-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
}

.main-title {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem 0;
    color: goldenrod;
}

.main-title span {
   color: rgb(79, 79, 199);
}

.hero-container p {
    font-size: 1.3rem;
    padding-bottom: 2rem;
    color: goldenrod;
    font-family: 'Hachi Maru Pop';
}

/*Featured Section*/
 
.featured {
    background-color: #eee;
}
.section-title {
    text-align: center;
    font-size: 1.2rem;
    padding: 1.5rem ;
    text-transform: uppercase;
    color: seashell;

}


.section-title span {
    background: rgb(119, 86, 3);
    padding: 1rem;
    border-radius: 10px;
}

.split {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    justify-content: space-around;

}

.split > * {
    flex-basis: 20%;
    min-width: 15em;
}



.featured-item {
    display: block;
    position: relative;
    transform: scale(.85);
    transition: transform 250ms ease-in-out;
    text-decoration: none;
    color: #333;
    text-align: center;
    line-height: 1.2;
}

.featured-item:hover,
.featured-item:focus {
    transform: scale(1);
}


.featured-item span {
    display: block;
    font-weight: 800;
    font-size: 2rem;
}

.featured-item:hover .featured-details,
.featured-item:focus .featured-details {
    opacity: 1;
}

.featured-item .featured-details {
    opacity: 0;
    transition: opacity 500ms linear;
}

/* Product Section*/
.product {
    background: radial-gradient(var(--clr-inner, red), var(--clr-outer, yellow)
    );
   height: 400px;
   padding: 2rem;
   border-radius: 1em;
   margin:3em 1em;
   text-align: center;
}

.section-title span {
    background: rgb(119, 86, 3);
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
}

.product .product-title {
    font-size: 2rem;
    color:white;
    padding-bottom: 1rem;
}

.product p {
    font-size: 1.2rem;
    padding-bottom:1rem;
    color: #222;
}



        @media (min-width: 45em) {

            .product .product-img {
              float: right;  
            }

            .product{
                max-width: 1000px;
                margin: 2.5rem auto;
                padding: 4rem;
                width: 95%;
            }

            

            .section-title {
                font-size: 2rem;
                padding: 2rem;
            }

            .main-title {
                font-size: 3.5rem;
            }

            .hero-container p {
                font-size: 2rem;
            }
        }

        @media (min-width: 55em) {


            .product .product-title {
                font-size: 4rem;
            }

            .product p {
                font-size: 1.5rem;
                padding-bottom: 2rem;
            }

            
           img {
               max-width: 100%;
               height: 230px;
               }
        }